<!DOCTYPE html>
<html>
<head>
  <title>My Books</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script type="text/javascript" src="/scripts/main.js" defer></script>
</head>
<body>
<h1>Restricted</h1>
</body>
</html>