<!DOCTYPE html>
<html>
<head>
  <title>The Reading List App</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script type="text/javascript" src="/scripts/main.js" defer></script>
</head>
<body>
<h1>Reading List App</h1>
</body>
</html>